.sidepanel {
  position: fixed;
  top: 230px;
  left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 340px;
  z-index: 3;
  &__divider {
    width: 2px;
    height: 70px;
    background-color: #000;
  }
  &__text {
     width: 25px;
     height: 150px;
     span {
      transform: rotate(-90deg) translate(-30%, -260%);
      display: block;
      width: 150px;
      font-weight: 700;
      font-size: 16px;
     }
  }
  &__link {
    img {
      &:hover {
        width: 23px;
        height: 23px;
        transform: rotate(90deg);
        transition: all 0.3s;
      }
    }
  }
}
